<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        <!-- Simple Full-Screen Hero -->
        <section class="homepage-hero">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="hero-content">
                  <div class="feature-blocks">
                    <div class="row">
                      <div class="col-md-4 col-sm-4">
                        <div class="feature-item">
                          <i class="fas fa-user-friends"></i>
                          <h3>{{ i18n "personalized_advice" }}</h3>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4">
                        <div class="feature-item">
                          <i class="fas fa-award"></i>
                          <h3>{{ i18n "highly_qualified_candidates" }}</h3>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4">
                        <div class="feature-item">
                          <i class="fas fa-hands-helping"></i>
                          <h3>{{ i18n "reliable_support_every_step" }}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>